.header_index {
    position: absolute;
}

body,html
{
    overflow-x:hidden !important;
}

@media (min-width: 768px) {
    .space-bottom-md-4, .space-md-4 {
        padding-bottom: 12.5rem !important;
    }
}

@media (min-width: 768px) {
    .space-md-4, .space-top-md-4 {
        padding-top: 12.5rem !important;
    }
}

.text-indigo {
    color: #2d1582 !important;
}

@media (min-width: 768px) {
    .w-md-80 {
        width: 80% !important;
    }
}

@media (min-width: 1200px) {
    .w-xl-60 {
        width: 60% !important;
    }
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.form-row > .col, .form-row > [class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}

.left-0 {
    left: 0;
}

.top-0 {
    top: 0;
}

.w-60 {
    width: 60% !important;
}

.position-absolute {
    position: absolute !important;
}

figure {
    margin-bottom: 0;
}

figure {
    margin: 0 0 1rem;
}

.bg-primary {
    background-color: #377dff !important;
}

.z-index-2 {
    z-index: 2;
}

@media (min-width: 992px) {
    .space-bottom-lg-3, .space-lg-3 {
        padding-bottom: 8rem !important;
    }
}

.space-2, .space-top-2 {
    padding-top: 4rem !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.text-right {
    text-align: right !important;
}

.text-inherit {
    color: inherit;
}

.media {
    display: flex;
    align-items: flex-start;
}

.avatar-group {
    display: flex;
}

.avatar-xs {
    width: 1.75rem !important;
    height: 1.75rem !important;
}

.d-flex {
    display: flex !important;
}

.media-body {
    flex: 1;
}

.justify-content-end {
    justify-content: flex-end !important;
}

@media (min-width: 576px) {
    .space-sm-2, .space-top-sm-2 {
        padding-top: 4rem !important;
    }
}

.bp-cover img, .bp-image img {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    height: 190px;
}
